.heart {
    --color__border: #8d8d8d;
}

.heart {
    display: flex;
    z-index: 1;
    width: calc(var(--responsive-size)*3);
    height: calc(var(--responsive-size)*3);
    animation-duration: 0.3s;
    animation-name: slidein;
}

.heart>svg>path:hover {
    color: var(--color__border);
}

.click {
    animation-duration: 0.3s;
    animation-name: slidein;
}

@keyframes slidein {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}