.container__like {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-self: right;
    grid-area: once;
    width: calc(var(--responsive-size) * 3);
    height: calc(var(--responsive-size) * 3);
    padding-right: calc(var(--responsive-size) * 3.5);
    padding-top: var(--responsive-size);
}