.preview {
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: center;
    justify-items: center;
}

.preview>img {
    display: grid;
    height:inherit;
    width: inherit;
    object-fit: contain;
}

.error {
    display: grid;
    width: 100%;
    height: 100%;
    background-image: url(../../../../../shared/assets/error.svg);
    background-size: cover;
}