.base__price {
    --base__price-color: black;
    --dicount__price-color: green;
    --dicount-high__price-color: red;
}

.base__price {
    color: black;
}

.discount__price {
    color: green;
}

.discount__price__hight {
    color: red;
}

@media (prefers-color-scheme: dark) {
    .base__price {
        color: white;
    }
    
    .discount__price {
        color: rgb(3, 247, 3);
    }
    
    .discount__price__hight {
        color: red;
    }
}