.base__price {
    --base__price-color: black;
    --dicount__price-color: green;
    --dicount-high__price-color: red;
}

.base__price {
    color: black;
}

.discount__price {
    color: green;
}

.discount__price__hight {
    color: red;
}