.zoomContainer {
    position: relative;
    overflow: hidden;
    width: 300px; /* Ширина контейнера */
    height: 300px; /* Высота контейнера */
    border: 1px solid #ccc; /* Граница для наглядности */
    cursor: crosshair; /* Указываем курсор для зума */
    border-radius: calc(var(--responsive-size)*0.7);
}

.preview {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}